# The final step is to verify the new regulatory data with the
# Central Regulatory Domain Agent.

- name: install ``crda``
  apt:
    name:
      - crda
  become: yes

- name: verify updates to regulatory domain
  register: regdbdump_result
  command: /sbin/regdbdump /lib/crda/regulatory.bin
  changed_when: false
  # check for the control channel only as a sample
  failed_when: "
    '	(5895.000 - 5905.000 @ 10.000), (33.00), (N/A)'
    not in regdbdump_result.stdout_lines"
